<hr id="main-footer__top-horizontal-rule" class="main-footer__horizontal-rule" />

<nav id="main-footer__nav-group">
  <div id="main-footer__top-group">
    <div id="main-footer__table-group">
      <ul class="main-footer__table-ul">
        <li class="main-footer__ul-title">Popular</li>
        <li class="main-footer__ul-item"><a href>Genres</a></li>
        <li class="main-footer__ul-item"><a href>Moods</a></li>
        <li class="main-footer__ul-item"><a href>New Releases</a></li>
      </ul>
      <ul class="main-footer__table-ul">
        <li class="main-footer__ul-title">Spotify</li>
        <li class="main-footer__ul-item"><a href>About</a></li>
        <li class="main-footer__ul-item"><a href>Jobs</a></li>
        <li class="main-footer__ul-item"><a href>For the Record</a></li>
      </ul>
      <ul class="main-footer__table-ul">
        <li class="main-footer__ul-title">Communities</li>
        <li class="main-footer__ul-item"><a href>For Artists</a></li>
        <li class="main-footer__ul-item"><a href>Developers</a></li>
        <li class="main-footer__ul-item"><a href>Advertising</a></li>
        <li class="main-footer__ul-item"><a href>Investors</a></li>
        <li class="main-footer__ul-item"><a href>Vendors</a></li>
      </ul>
      <ul class="main-footer__table-ul">
        <li class="main-footer__ul-title">Useful Links</li>
        <li class="main-footer__ul-item"><a href>Support</a></li>
        <li class="main-footer__ul-item"><a href>Free Mobile App</a></li>
      </ul>
    </div>
    <div id="main-footer__social--group">
      <a class="main-footer__social--anchor" href aria-label="Instagram">
        <fa-icon [icon]="faInstagram" id="main-footer__instagram--icon" />
      </a>
      <a class="main-footer__social--anchor" href aria-label="Twitter">
        <fa-icon [icon]="faXTwitter" id="main-footer__twitter--icon" />
      </a>
    </div>
  </div>
</nav>

<hr class="main-footer__horizontal-rule" id="main-footer__bottom-horizontal-rule" />

<div id="main-footer__bottom-group">
  <div id="main-footer__bottom-links">
    <a class="main-footer__bottom-link" href>Legal</a>
    <a class="main-footer__bottom-link" href>Safety & Privacy Center</a>
    <a class="main-footer__bottom-link" href>Privacy Policy</a>
    <a class="main-footer__bottom-link" href>Cookies</a>
    <a class="main-footer__bottom-link" href>About Ads</a>
    <a class="main-footer__bottom-link" href>Accessibility</a>
  </div>
  <p id="main-footer__bottom-copyright">&copy; 2026 Stopify</p>
</div>
