@font-face {
  font-family: 'StopifyFont';
  src: url('../assets/fonts/StopifyMedium.ttf') format('truetype');
}

html {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  font-family: 'StopifyFont';
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#global-header {
  grid-row: 1;
  height: 64px;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
}

.main-section {
  display: flex;
  min-height: 0;
}

#left-sidebar__main-group, #right-sidebar__main-group, #main-view {
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
}

.sidebar-group {
  max-width: 428px;
}

.sidebar-main {
  flex-grow: 1;
}

#full-screen-view__group {
  display: none;
}

#left-sidebar__group {
  container-type: inline-size;
  container-name: left-sidebar__group;
  margin-left: 8px;
  min-width: 72px;
  width: 288px;
}

#right-sidebar__group {
  margin-right: 8px;
  min-width: 288px;
}

#main-view {
  flex-grow: 1;
}

#now-playing-bar {
  grid-row: 3;
  height: 88px;
}

.layout-resizer {
  /* background-color: aqua; */
  cursor: col-resize;
  height: 100%;
  width: 8px;
}
