@font-face {
  font-family: 'StopifyFont';
  src: url('../assets/fonts/StopifyMedium.ttf') format('truetype');
}

html {
    background-color: var(--primary-bg-color);
    color: var(--primary-fg-color);
    font-family: 'StopifyFont';
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.layout-section {
  border: red 1px solid;
}

#global-header {
  grid-row: 1;
  height: 60px;
  display: flex;
  align-items: center;
  padding: var(--layout-section-padding);
}

.main-section {
  border: green 1px solid;
  overflow-y: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

#full-screen-view__group {
  display: none;
}

main {
  grid-row: 2;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

.sidebar-main {
  flex-grow: 1;
}

#now-playing-bar {
  grid-row: 3;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--layout-section-padding);
}

.layout-resizer {
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background-color: aqua;
}
